/* ===== Gradient Background ===== */

.faq-wrapper {
  min-height: 100vh;
  padding: 60px 20px 80px;

  background: linear-gradient(
    -45deg,
    #f4f6ff,
    #e4e8ff,
    #c9d0ff,
    #9ea8ff
  );

  background-size: 300% 300%;
  animation: gradientMove 10s ease infinite;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.faq-wrapper h2 {
  text-align: center;
  font-size: 2.4rem;
  font-weight: 700;
  margin-bottom: 30px;
  color: #151b54; 
}

/* ===== Container ===== */

.faq-container {
  max-width: 850px;
  margin: auto;
}

/* ===== Card ===== */

.faq-card {
  background: white;
  border-radius: 16px;
  margin-bottom: 20px;
  overflow: hidden;

  box-shadow: 0 10px 35px rgba(2, 14, 73, 0.08);
  transition: 0.3s ease;
}

.faq-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 14px 45px rgba(2, 14, 73, 0.08);
  border: 1px solid #151b54;
}

/* ===== Question ===== */

.faq-question {
  padding: 20px 24px;
  font-weight: 600;
  font-size: 1.05rem;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;

  color: #151b54;
}

/* Chevron */

.faq-question span {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  color: #151b54;
}

/* ===== Answer ===== */

.faq-answer{
  padding: 0 24px 20px 24px;
  font-size: 1rem;
  line-height: 1.8;
  color: #000f98;

  overflow: hidden;
}

/* ===== Mobile ===== */

@media (max-width: 600px) {
  .faq-wrapper {
    padding-top: 100px;
  }

  .faq-wrapper h2 {
    font-size: 1.8rem;
  }
}