*{
  box-sizing:border-box;
}

/* NAVBAR */

.navbar{
  position:sticky;
  top:0;
  z-index:1000;
  height: 75px;
  background:#151B54;
  border-bottom:1px solid #eee;
  display:flex;
  align-items:center;
  justify-content:space-between;
  padding:14px 18px;
}

.navbar-shadow{
  box-shadow:0 6px 20px rgba(0,0,0,0.08);
}

/* LOGO */

.logo{
  font-size:20px;
  font-weight:800;
  color:#ffffff;
  cursor:pointer;
}

/* DESKTOP NAV */

.nav-links{
  display:none;
  gap:28px;
  align-items:center;
}

.nav-links a{
  text-decoration:none;
  color:#ffffff;
  font-weight:500;
  position:relative;
  padding-bottom:4px;
}

.nav-links a::after{
  content:"";
  position:absolute;
  left:0;
  bottom:0;
  width:0;
  height:2px;
  background:#151B54;
  transition:0.25s;
}

.nav-links a:hover::after{
  width:100%;
}

.nav-links a.active{
  color:#151B54;
}

.nav-links a.active::after{
  width:100%;
}

.mobile-menu a.active{
  background:#fff1f1;
  color:#151B54;
}

/* LOGIN BUTTON */

.login-btn{
  background:#151B54;
  border:none;
  color:white;
  padding:8px 16px;
  border-radius:6px;
  cursor:pointer;
}

/* HAMBURGER */

.menu-btn{
  width:28px;
  height:22px;
  border:none;
  background:none;
  cursor:pointer;

  display:flex;
  flex-direction:column;
  justify-content:space-between;
  z-index:1200;
}

.menu-btn span{
  height:3px;
  width:100%;
  background:#d9d5d5;
  border-radius:3px;
  transition:0.3s;
}

/* ANIMATION */

.menu-btn.open span:nth-child(1){
  transform:translateY(9px) rotate(45deg);
}

.menu-btn.open span:nth-child(2){
  opacity:0;
}

.menu-btn.open span:nth-child(3){
  transform:translateY(-9px) rotate(-45deg);
}

/* BACKDROP */

.mobile-backdrop{
  position:fixed;
  inset:0;
  background:rgba(0,0,0,0.4);
  opacity:0;
  pointer-events:none;
  transition:0.3s;
}

.mobile-backdrop.show{
  opacity:1;
  pointer-events:auto;
}

/* MOBILE MENU */

.mobile-menu{
  position:fixed;
  top:0;
  right:0;

  width:70%;
  max-width:320px;
  height:100vh;

  background:#151B54;

  display:flex;
  flex-direction:column;
  gap:14px;

  padding:90px 20px;

  transform:translateX(100%);
  transition:0.35s;

  z-index:999;
}

.mobile-menu.show{
  transform:translateX(0);
}

.mobile-menu a{
  text-decoration:none;
  font-size:18px;
  font-weight:600;
  color:#ffffff;
  padding:10px 12px;
  border-radius:8px;
}

.mobile-menu a:hover{
  background:#f3eeee;
  color:#151B54;
}

/* MOBILE LOGIN */

.mobile-login-btn{
  background:#151B54;
  border:none;
  color:white;
  padding:12px;
  border-radius:10px;
  font-size:16px;
}

/* WHATSAPP */

.menu-cta{
  margin-top:auto;
  background:#25d366;
  color:white;
  padding:14px;
  border-radius:12px;
  display:flex;
  align-items:center;
  justify-content:center;
  gap:10px;
  text-decoration:none;
  font-weight:600;
}

/* DESKTOP */

@media(min-width:768px){

  .menu-btn,
  .mobile-menu,
  .mobile-backdrop{
    display:none;
  }

  .nav-links{
    display:flex;
  }

  .navbar{
    padding:18px 40px;
  }

}

.logout-btn{
  background: rgb(236, 60, 60);
  border:none;
  padding:7px 14px;
  color:white;
  cursor:pointer;
  border-radius:6px;
}

.mobile-logout-btn{
  background:rgb(236, 60, 60);
  border:none;
  padding:12px;
  color:white;
  border-radius:8px;
  font-weight:600;
}